.card {
    border-top: 5px solid rgb(38,47,120) !important;
    border-radius: 6px 6px 1px 1px !important;
    padding: 0 !important;
    
}

.card div.card-avatar{
    margin: 10px auto;
    width: 100px;
    height: 100px;
    border: 4px solid rgb(20, 141, 200);
    border-radius: 50px;
    overflow: hidden;
}

.card .card-avatar img{
    max-width: 100%;
    max-height: 100%;
}

.card .card-title h4 {
    font-size: 1.8rem;
    color: #443;
    text-transform: uppercase;
}

.card .card-footer {
    background: rgb(38,47,120);
    text-align: center;
    color: white;
}

.card .card-footer:hover {
    background: rgb(48,67,140);
    text-align: center;
}
.card-list {
    padding-left: 0.1rem;
}
.card-list li {
    margin-bottom: 0.8rem;
    border-bottom: 1px solid rgb(235, 235, 235);
    list-style-type: none;
}

.conv_header h4 {
    margin-top: 0;
}

.conv_text {
    padding-right: 5em;
    padding-left: 5em;
}

.conv_sign {
    margin-bottom: 1em;
}

div.divider {
    border-top: 0.2rem solid #330;
    margin-top: 7em;
    margin-right: 15px;
    margin-left: 15px;
}
