.glyphicon {
	top: 0 !important;
}

.fa.fa-star{
    font-size: 1.8rem;
}

.fa.fa-star.checked{
    font-size: 1.8rem;
    color: rgb(230, 250, 10);
}

/*Indicadores, viñetas*/
.o-blue{
  padding-right: 6px;
  color: rgb(20, 141, 200);
}

.o-green{
  padding-right: 6px;
  color: rgb(20, 200, 140);
}

.o-purple{
  padding-right: 6px;
  color: rgb(103, 20, 220);
}

.o-yellow{
  padding-right: 6px;
  font-size: 14px;
  color: rgb(190, 250, 10);
}

.o-red{
  padding-right: 6px;
  color: rgb(250, 20, 40);
}


.mdi-action-done {
  font-size: 2em;
  font-weight: bold;
  color: rgb(210, 210, 210);
}