@font-face {
   font-family: ubuntuR;
   src: url(../fonts/Ubuntu-R.ttf) format('truetype');
}
@font-face {
   font-family: ubuntuB;
   src: url(../fonts/Ubuntu-B.ttf) format('truetype');
}
@font-face {
   font-family: ubuntuRI;
   src: url(../fonts/Ubuntu-RI.ttf) format('truetype');
}
@font-face {
   font-family: ubuntuBI;
   src: url(../fonts/Ubuntu-BI.ttf) format('truetype');
}
@font-face {
   font-family: RobotoR;
   src: url(../fonts/RobotoDraftRegular.woff2) format('web open font format');
}

body {
  opacity: 0.87;
  background: rgba(220,225,240, 0.64);
  width: 100%;
}

.datepicker{
  z-index: 1150 !important;
}

.container{
  margin-top: 75px;
}
.index-box {
  padding-top: 3.7em;
}

.naatik-box {
	margin-top: 45px;
  margin-bottom: 0 !important;
	padding: 10px 30px !important;
	text-transform: uppercase;
  background: #22254F !important;
}

.naatik-box h2 {
  margin-top: 20px !important;
}

.navbar-naatik {
  background: rgb(38,47,120) !important;
}

nav.navbar-fixed-top {
  padding-right: 15px!important;
}

.logo {
	display: inline;
	padding: 0;
}

.logo img {
	margin:0;
}

h3.naatik-title {
	display: inline;
  -webkit-margin-start: 1.5em;
	margin: 0 0 0 20px !important;
  font-size: 2.35em;
	color: white;
}

.login-box h4 {
	text-transform: uppercase;
    color: #7a7a7a;
}

.login-box .remember-me-label {
    display: block;
    margin-bottom: 10px;
}
.login-box .link-forgot-my-password {
    display: block;
    text-align: right;
}
.login-box .link-forgot-my-password a {
    color: #777;
    text-decoration: none;
}
.login-box .link-forgot-my-password a:hover {
    text-decoration: underline;
}

.left {
	float: left;
}

.center {
	margin: 2px auto;
}

.right {
	float: right;
}

div.nav-main{
  margin-bottom: 10px;
}

ol.breadcrumb {
  margin:0 0 10px 0;
  padding: 5px 15px;
  font-size: 12px;
}

ol.breadcrumb li a {
  text-transform: uppercase;
  color: #aaa;
}

ol.breadcrumb li a:hover {
  color: #009688;
}

div.avatar img {
  width: 50px;
  height: 50px;
  border: 3px solid #dfdfdf;
  margin-right: 8px;
  margin-top: -5px;
  box-shadow: 3px 2px 8px #aaa;
  z-index: 1250;
}

img.avatar-mini {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border: 3px solid #dfdfdf;
  margin-right: 8px;
  margin-top: -5px;
  box-shadow: 3px 2px 8px #dfdfdf;
}

img.foto-mini {
  width: 45px;
  height: 45px;
  border-radius: 23px;
  border: 2px solid #dfdfdf;
  box-shadow: 1px 2px 3px #ababab;
}

.nav-submenu {
  margin-bottom: 0 !important;
  background: rgb(239, 199, 20);
  border-bottom: 0!important;
  
}


.nav-submenu li.active {
  background: rgb(239, 180, 20);
  border-bottom: 4px solid rgb(239, 101, 20);
}

.nav-submenu li>a {
  font-size: 1.1em;
}

.checkbox {
  margin-right: 0;
  margin-left: 0;
}

.checkbox.select_all {
  margin-top: 0;
  margin-bottom: 0;
}

div.well-content{
  margin-top: 0;
  min-height: 450px;
  padding: 0 !important;
}

div.body-content{
  margin-top: 0;
  padding: 0 10px !important;
}

div.mini-box{
  /*background: #efefef;*/
  border: 1px dashed #ccc;
  border-radius: 4px;
  margin-top: -10px;
  margin-bottom: 15px;
  padding-top: 5px;
}

a.link{
  margin: 8px !important;
  color: #22254F!important;
  cursor: pointer !important;
}

a.change-photo{
  margin-top: -30px !important;
  color: rgba(0,150,136,0.8)!important;
  cursor: pointer !important;
}


.modal-header{
    padding-top: 10px!important;
    padding-bottom: 5px!important;
    background: rgb(20, 141, 200)!important;
    text-align: center!important;
    text-transform: uppercase!important;
    color: white!important;
}

.modal-delete{
    padding-top: 10px!important;
    padding-bottom: 5px!important;
    background: rgba(240, 35, 45, 0.88)!important;
    text-align: center!important;
    text-transform: uppercase!important;
    color: white!important;
}

.modal-green{
    padding-top: 10px!important;
    padding-bottom: 5px!important;
    background: rgba(38, 185, 154, 0.88)!important;
    text-align: center!important;
    text-transform: uppercase!important;
    color: white!important;
}

.modal-header button.close{
    font-size: 24px;
    color: white;
    opacity: 0.75;
    border:0;
}

img.loader {
  padding-top: 25px;
}

code{
  background: rgba(28,37,120, 0.65);
  color: white;
}

div.data-box {
  margin: 5px 5px;
  padding: 15px 8px;
  border: 1px solid rgb(200, 200, 200);
}

.text-naatik {
  color:rgb(239, 141, 20)!important;
}

h4.subheader {
  padding: 20px 10px;
  margin-top: 0;
}

.text-title {
  margin-top: 5px;
  margin-bottom: 20px;
}

/*Buttons */
.btn-second {
  background: rgb(20, 141, 200)!important;
  color: white!important;
}

a.btn-tiny {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  padding: 2px 5px!important;
}

.btn-gray {
  background: rgb(150, 150, 150)!important;
  color: white!important;
}

.btn-naatik {
  background: rgb(239, 101, 20)!important;
  color: white!important;
}

.btn-deep {
  background: #22254F !important;
  color: white !important;
}

.btn-green {
  background: rgba(38, 195, 134, 0.88)!important;
  color: white !important;
}

.btn-main {
  background: rgb(38,47,130) !important;
  color: white !important;
}

.btn-more { 
  background: rgb(38,47,120) !important;
  color: white !important;
}

.btn-add {
  margin-top: 5px !important;
  margin-bottom: 8px!important;
}

.form-group>label>small {
  color: #C15B1C;
}

table.table>thead>tr.tb_purple{
  background: rgba(38,47,130, 0.75)!important;
  color: white!important;
}

table.table>thead>tr.tb_info{
  background: rgba(10, 191, 205, 0.5)!important;
}

table.table>thead>tr.tb_success{
  background: rgba(4, 210, 95, 0.4)!important;
  /*color: white!important;*/
}

table.table>thead>tr.tb_accent{
  background: rgba(249, 235, 10, 0.65)!important;
}

table.table>tbody>tr.row_data>td.txt{
  padding-top: 15px;
  font-size: 12px;
}

table.dataTable tbody td {
  padding: 5px 8px;
}

table.dataTable>tbody>td.sorting_1 {
  padding: 8px 2px !important;
}

table.dataTable tfoot td {
  padding: 2px;
}

.btn.btn-xs.mini {
  margin: 4px 0;
  padding: 4px 8px;
}

label.label.lbl_mini {
  background: gray;
  margin-top: 15px;
}

.dataTables_wrapper {
  padding-top: 5px;
}

.dataTables_length {
  padding-left: 8px;
}

.dataTables_length label {
  min-width: 180px;
}

.dataTables_length select {
  min-width: 65px;
}

.dataTables_filter {
  padding-right: 8px;
}

.dataTables_filter input[type=search] {
  min-width: 200px;
}

.dataTables_info {
  padding-left: 5px;
  padding-bottom: 30px;
}

.dataTables_paginate {
  padding-right: 5px;
  padding-bottom: 30px;
}

.paginate_button {
  border-radius: 25px!important;
  background: rgb(239, 199, 20);
  padding: 0.3em 0.8em!important;
}

div.hr {
  margin: 0 10px!important;
  padding: 0!important;
  border-top: 1px solid rgb(20, 141, 200)!important;
}
.snackbar {
  background-color: rgba(40, 40, 40, 0.75);
}

#snackbar-container>div.snackbar.snackbar-blue {
  background-color: rgba(20, 141, 190, 0.8);
}

#snackbar-container>div.snackbar.snackbar-green {
  background-color: rgba(38, 195, 134, 0.87);
}

#snackbar-container>div.snackbar.snackbar-red {
  background-color: rgba(195, 0, 10, 0.8);
}

input[type="text"] {
  height: 25px !important;
  font-size: 16px;
  font-family: ubuntuR;
}

.texto {
  border-top: 1px solid rgb(210,210,210);
  border-right: 1px solid rgb(210,210,210);
  border-left: 1px solid rgb(210,210,210);
  border-radius: 3px;
  font-size: 16px;
  padding: 5px 8px;
}

.text-white {
  color: white;
}

.dropdown-menu.student{
  left: -120%;
  right: 0;
}

.dropdown-menu>li>a {
  padding: 3px 12px;
  font-size: 15px;
}

#detail_event {
  background: rgba(245,245,245,0.80);
  padding: 5px 10px;
  text-align: justify;
  font-size: 16px;
  font-family: ubuntuR;
  min-height: 50px;
}

#prior {
  padding: 2px!important;
  font-size: .9em;
}

/*Indicadores, viñetas*/
.o-blue{
  padding-right: 6px;
  color: rgb(20, 141, 200);
}

.o-green{
  padding-right: 6px;
  color: rgb(20, 200, 140);
}

.o-purple{
  padding-right: 6px;
  color: rgb(180, 20, 250);
}

.o-red{
  padding-right: 6px;
  color: rgb(250, 20, 40);
}

.o-yellow{
  padding-right: 6px;
  font-size: 14px;
  color: rgb(190, 250, 10);
}

@media (min-width: 1200px) {
  .container {
    width: 1180px;
  }
}

/*@media (min-width: 880px) {
  .container {
    width: 860px;
  }
}*/